:root {
	// PRIMARY
	--soft-blue: hsl(231, 69%, 60%);
	--soft-blue-opaque: hsla(231, 69%, 60%, 0.1);
	--soft-blue-opaque-2: hsla(231, 69%, 60%, 0.05);
	--soft-red: hsl(0, 94%, 66%);
	// NEUTRAL
	--light-gray: hsl(0, 0%, 97%);
	--light-grayish-blue: hsl(229, 8%, 92%);
	--grayish-blue: hsl(229, 8%, 60%);
	--very-dark-blue: hsl(229, 31%, 21%);

	--very-dark-blue-opaque: hsla(229, 31%, 21%, 0.2);

	--border-radius: 5px;
}

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	scroll-behavior: smooth;
	scrollbar-width: thin;
}

body {
	font-size: 1.9rem;
	font-family: 'Rubik', sans-serif;
	color: var(--very-dark-blue);
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}

.hide {
	opacity: 0;
	visibility: hidden;
}

.row {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1.6rem;
}

.link {
	transition: all 250ms ease;

	&:hover,
	&:focus,
	&:active {
		color: var(--soft-red);
	}
}

.center {
	text-align: center;
	margin: 0 auto;
}

.title {
	font-weight: 500;
	line-height: 1;

	&--primary {
		text-align-last: left;
		font-size: 4.8rem;
	}

	&--secondary {
		font-size: 3.4rem;
		text-align: center;
		margin-bottom: 2.4rem;
	}

	&--tertiary {
		font-size: 3.4rem;
	}
}

.subtitle {
	font-weight: 400;
	color: var(--grayish-blue);
	line-height: 1.5;
	max-width: 48rem;
	font-size: 1.6rem;
}

.two-col-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 4.8rem;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 3.6rem;
	padding-bottom: 3.6rem;

	&__logo {
	}

	&__list {
		display: flex;
		align-items: center;
		text-transform: uppercase;
		font-size: 1.4rem;
	}

	&__item {
		margin: 0 2rem;

		&:last-child {
			margin-left: 2rem;
		}
	}

	&__link {
		padding: 0.4em 0.6em;
		letter-spacing: 0.08em;
	}
}

.btn {
	font: inherit;
	cursor: pointer;

	padding: 0.9em 1.6em;
	font-size: 1.3rem;

	background: var(--soft-blue);
	color: white;
	border: none;
	border-radius: var(--border-radius);
	border: 2px solid rgba(0, 0, 0, 0);
	box-shadow: 0 6px 4px var(--soft-blue-opaque);

	transition: all 250ms ease, transform 100ms ease-in-out;

	&:hover {
		background: white;
		color: var(--soft-blue);
		border-color: currentColor;
	}

	&:active {
		box-shadow: 0 3px 2px var(--soft-blue-opaque);
		transform: scale(0.98);
	}

	&--cta {
		font-size: 1.3rem;
		background: var(--soft-red);
		padding: 0.85em 2.2em;
		text-transform: uppercase;
		letter-spacing: 0.08em;

		&:hover {
			color: var(--soft-red);
		}
	}

	&--secondary {
		background: var(--light-gray);
		color: var(--very-dark-blue);

		&:hover {
			color: var(--very-dark-blue);
		}
	}
}

section {
	margin: 7rem 0;
	padding: 3.2rem 0;
}

// HEADER
.header {
	// border: 5px solid lightpink;
	position: relative;
	overflow: hidden;
	margin: 5rem 0 8rem;

	&::after {
		content: '';
		position: absolute;
		top: 30%;
		bottom: 0;
		right: 0;
		width: 30vw;
		background: var(--soft-blue);
		border-top-left-radius: 100rem;
		border-bottom-left-radius: 100rem;
		z-index: -1;
	}

	&__row {
		@extend .two-col-grid;
	}

	&__text {
		flex: 1;
		display: grid;
		grid-template-columns: 1fr;
		gap: 3.2rem;

		.subtitle {
			margin-top: -1rem;
		}
	}

	&__buttons {
		> * {
			margin-right: 0.8rem;
		}
	}

	&__hero {
		flex: 1;
		justify-self: end;
		margin-right: -8rem;
	}
}

.features {
	&__tabs {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		// background: pink;
		text-align: center;
		width: max-content;

		margin: 4.8rem auto 5.4rem;
	}

	&__tab {
		font-size: 1.6rem;
		padding: 1.5em 2.4em;
		transition: all 250ms ease;
		position: relative;
		cursor: pointer;

		&.active::after {
			background: var(--soft-red);
			transform: scaleY(4);
		}

		&:hover::after {
			background: var(--soft-blue);
			transform: scaleY(4);
		}

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: -1px;
			right: 1px;
			height: 1px;
			transform: scaleY(2);
			transform-origin: bottom;
			background: var(--light-grayish-blue);

			transition: all 100ms;
		}
	}
}

.feature {
	position: relative;
	padding-bottom: 6.4rem;

	&__row {
		@extend .two-col-grid;
	}

	&__text {
		flex: 1;
		display: grid;
		grid-template-columns: 1fr;
		gap: 3.2rem;
		margin-left: 7rem;
	}

	&__photo {
	}

	&::after {
		content: '';
		position: absolute;
		top: 30%;
		bottom: 0;
		left: 0;
		width: 40vw;
		background: var(--soft-blue);
		border-top-right-radius: 100rem;
		border-bottom-right-radius: 100rem;
		z-index: -1;
	}
}

.download {
	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 26rem);
		grid-template-rows: repeat(2, 3rem) 1fr repeat(2, 3rem);
		column-gap: 3rem;
		justify-content: center;
		align-content: center;
		margin: 4.8rem auto 0;
	}
}

.card {
	border-radius: 12px;
	flex: 1;
	background: white;
	box-shadow: 0 1rem 1rem var(--soft-blue-opaque-2),
		0 1.2rem 2rem var(--soft-blue-opaque);

	&:nth-child(1) {
		grid-row: 1 / span 3;
	}
	&:nth-child(2) {
		grid-row: 2 / span 3;
	}
	&:nth-child(3) {
		grid-row: 3 / span 3;
	}

	&__content {
		padding: 4rem 3rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-bottom: 5px dotted var(--light-grayish-blue);
	}

	&__icon {
		margin-bottom: 2.4rem;
	}

	&__title {
		font-weight: 500;
		margin-bottom: 1.2rem;
	}

	&__version {
		font-size: 1.4rem;
	}

	&__footer {
		display: flex;
		padding: 2.4rem;

		> * {
			flex: 1;
		}
	}
}
