:root {
  --soft-blue: hsl(231, 69%, 60%);
  --soft-blue-opaque: hsla(231, 69%, 60%, 0.1);
  --soft-blue-opaque-2: hsla(231, 69%, 60%, 0.05);
  --soft-red: hsl(0, 94%, 66%);
  --soft-green: hsl(123, 49%, 70%);
  --light-gray: hsl(0, 0%, 97%);
  --light-grayish-blue: hsl(229, 8%, 92%);
  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsl(229, 31%, 21%);
  --very-dark-blue-opaque: hsla(229, 31%, 21%, 0.2);
  --border-radius: 5px; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scrollbar-width: thin; }
  @media only screen and (max-width: 750px) {
    html {
      font-size: 56.25%; } }

body {
  font-size: 1.9rem;
  font-family: 'Rubik', sans-serif;
  color: var(--very-dark-blue); }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none; }

img {
  max-width: 100%; }

.hide {
  display: none; }

.row {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 3.2rem; }

.link {
  transition: all 250ms ease; }
  .link:hover, .link:focus, .link:active {
    color: var(--soft-red);
    fill: var(--soft-red); }

.center {
  text-align: center;
  margin: 0 auto; }

p {
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500; }

.title {
  font-weight: 500;
  line-height: 1; }
  .title--primary {
    font-size: 4.8rem; }
    @media only screen and (max-width: 1000px) {
      .title--primary {
        font-size: 4.2rem; } }
    @media only screen and (max-width: 850px) {
      .title--primary {
        font-size: 3.8rem; } }
    @media only screen and (max-width: 750px) {
      .title--primary {
        font-size: 3.4rem; } }
    @media only screen and (max-width: 600px) {
      .title--primary {
        font-size: 2.8rem; } }
  .title--secondary {
    font-size: 3.2rem;
    text-align: center;
    margin-bottom: 2.4rem; }
    @media only screen and (max-width: 750px) {
      .title--secondary {
        font-size: 2.8rem;
        margin-bottom: 1.6rem; } }
  .title--tertiary {
    font-size: 3rem; }
    @media only screen and (max-width: 750px) {
      .title--tertiary {
        text-align: center;
        font-size: 2.8rem; } }

.subtitle {
  font-weight: 400;
  color: var(--grayish-blue);
  line-height: 1.5;
  max-width: 48rem;
  font-size: 1.6rem;
  margin: 0 auto; }
  @media only screen and (max-width: 600px) {
    .subtitle {
      max-width: 32rem; } }

.two-col-grid, .header__row, .feature__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 4.8rem; }
  @media only screen and (max-width: 750px) {
    .two-col-grid, .header__row, .feature__row {
      display: flex;
      flex-direction: column; } }

.btn {
  font: inherit;
  cursor: pointer;
  padding: 0.9em 1.6em;
  font-size: 1.3rem;
  background: var(--soft-blue);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  border: 2px solid rgba(0, 0, 0, 0);
  box-shadow: 0 6px 4px var(--soft-blue-opaque);
  transition: all 250ms ease, transform 100ms ease-in-out; }
  .btn:hover {
    background: white;
    color: var(--soft-blue);
    border-color: currentColor; }
  .btn:active {
    box-shadow: 0 3px 2px var(--soft-blue-opaque);
    transform: scale(0.98); }
  .btn:focus {
    outline: none; }
  .btn--cta {
    font-size: 1.3rem;
    background: var(--soft-red);
    text-transform: uppercase;
    letter-spacing: 0.08em; }
    .btn--cta:hover {
      color: var(--soft-red); }
  .btn--secondary {
    background: var(--light-gray);
    color: var(--very-dark-blue); }
    .btn--secondary:hover {
      color: var(--very-dark-blue); }

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4.8rem;
  padding-bottom: 3.6rem; }
  .nav__logo {
    flex-shrink: 0;
    display: flex;
    align-items: center; }
  .nav__mobile {
    display: none;
    padding: 0.25em;
    margin-right: -0.25em;
    cursor: pointer; }
    @media only screen and (max-width: 750px) {
      .nav__mobile {
        display: block; } }
    .nav__mobile .icon {
      display: block; }
  .nav__list {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.3rem; }
    @media only screen and (max-width: 750px) {
      .nav__list {
        display: none; } }
  .nav__item {
    margin: 0 2rem; }
    .nav__item:last-child {
      margin-left: 2rem; }
  .nav__link {
    padding: 0.4em 0.6em;
    letter-spacing: 0.08em; }
  .nav__login {
    padding: 0.85em 2.2em; }

section {
  margin: 7rem 0;
  padding: 4.2rem 0; }

.header {
  position: relative;
  overflow: hidden;
  margin: 5rem 0 8rem; }
  @media only screen and (max-width: 600px) {
    .header {
      margin: 3rem 0 6rem; } }
  .header::after {
    content: '';
    position: absolute;
    top: 30%;
    bottom: 0;
    right: 0;
    width: 30vw;
    background: var(--soft-blue);
    border-top-left-radius: 100rem;
    border-bottom-left-radius: 100rem;
    z-index: -1; }
    @media only screen and (max-width: 750px) {
      .header::after {
        display: none; } }
  .header__row {
    gap: 2.4rem; }
  .header__text {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.2rem;
    max-width: 50rem; }
    @media only screen and (max-width: 750px) {
      .header__text {
        gap: 2.4rem; } }
    @media only screen and (max-width: 750px) {
      .header__text {
        margin-top: 3.2rem;
        text-align: center; } }
    .header__text .subtitle {
      margin-top: -1rem; }
  .header__buttons > * {
    margin-right: 0.8rem; }
  @media only screen and (max-width: 400px) {
    .header__buttons {
      display: flex;
      flex-direction: column; }
      .header__buttons > *:not(:last-child) {
        margin-bottom: 0.8rem; } }
  .header__hero {
    flex: 1;
    justify-self: end;
    margin-right: -4rem;
    position: relative; }
    @media only screen and (max-width: 750px) {
      .header__hero {
        margin-right: 0;
        order: -1; }
        .header__hero::after {
          content: '';
          position: absolute;
          top: 30%;
          bottom: 0;
          right: -3.2rem;
          width: 75vw;
          max-width: 40rem;
          background: var(--soft-blue);
          border-top-left-radius: 100rem;
          border-bottom-left-radius: 100rem;
          z-index: -1; } }

.features__tabs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  width: max-content;
  margin: 4.8rem auto 5.4rem; }
  @media only screen and (max-width: 750px) {
    .features__tabs {
      width: 100%;
      grid-template-columns: 1fr;
      border-top: 2px solid var(--light-grayish-blue); } }

.features__tab {
  font-size: 1.6rem;
  padding: 1.5em 2.4em;
  transition: all 250ms ease;
  position: relative;
  cursor: pointer; }
  @media only screen and (max-width: 600px) {
    .features__tab {
      padding: 1.2em 0; } }
  .features__tab.active::after {
    background: var(--soft-red);
    transform: scaleY(4); }
    @media only screen and (max-width: 750px) {
      .features__tab.active::after {
        transform: scaleY(4) translateX(-50%); } }
  .features__tab:hover::after {
    background: var(--soft-blue);
    transform: scaleY(4); }
    @media only screen and (max-width: 750px) {
      .features__tab:hover::after {
        transform: scaleY(4) translateX(-50%); } }
  .features__tab::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -4px;
    right: 4px;
    height: 1px;
    transform: scaleY(2);
    transform-origin: bottom;
    background: var(--light-grayish-blue);
    display: block;
    transition: all 100ms; }
    @media only screen and (max-width: 750px) {
      .features__tab::before {
        left: 0;
        right: 0; } }
  .features__tab::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -4px;
    right: 4px;
    height: 1px;
    transform: scaleY(2);
    transform-origin: bottom;
    background: var(--light-grayish-blue);
    display: block;
    transition: all 100ms; }
    @media only screen and (max-width: 750px) {
      .features__tab::after {
        left: 50%;
        max-width: 14rem;
        transform: scaleY(2) translateX(-50%); } }

.feature {
  position: relative;
  opacity: 0;
  display: none;
  transition: all 1s ease; }
  .feature.show {
    display: block;
    opacity: 1; }
  .feature__text {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.2rem;
    margin-left: 7rem; }
    @media only screen and (max-width: 750px) {
      .feature__text {
        margin-left: 0;
        text-align: center;
        gap: 1.6rem; } }
  .feature__photo {
    padding-bottom: 8rem; }
    @media only screen and (max-width: 750px) {
      .feature__photo {
        position: relative;
        padding-bottom: 4.5rem; }
        .feature__photo::before {
          content: '';
          position: absolute;
          top: 30%;
          bottom: 0;
          left: -3.2rem;
          width: 75vw;
          max-width: 40rem;
          background: var(--soft-blue);
          border-top-right-radius: 100rem;
          border-bottom-right-radius: 100rem;
          z-index: -1; } }
  @media only screen and (max-width: 600px) {
    .feature__buttons {
      display: none; } }
  .feature::after {
    content: '';
    position: absolute;
    top: 30%;
    bottom: 0;
    left: 0;
    width: 40vw;
    background: var(--soft-blue);
    border-top-right-radius: 100rem;
    border-bottom-right-radius: 100rem;
    z-index: -1; }
    @media only screen and (max-width: 750px) {
      .feature::after {
        display: none; } }

.download__grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(20rem, 26rem));
  grid-template-rows: repeat(2, 3rem) 1fr repeat(2, 3rem);
  gap: 2.4rem;
  justify-content: center;
  align-content: center;
  margin: 4.8rem auto 0; }
  @media only screen and (max-width: 750px) {
    .download__grid {
      grid-template-columns: repeat(1, minmax(20rem, 26rem));
      grid-template-rows: 1fr 1fr 1fr; } }

.card {
  border-radius: 12px;
  flex: 1;
  background: white;
  box-shadow: 0 1rem 1rem var(--soft-blue-opaque-2), 0 1.2rem 2rem var(--soft-blue-opaque); }
  .card:nth-child(1) {
    grid-row: 1 / span 3; }
    @media only screen and (max-width: 750px) {
      .card:nth-child(1) {
        grid-row: span 1; } }
  .card:nth-child(2) {
    grid-row: 2 / span 3; }
    @media only screen and (max-width: 750px) {
      .card:nth-child(2) {
        grid-row: span 1; } }
  .card:nth-child(3) {
    grid-row: 3 / span 3; }
    @media only screen and (max-width: 750px) {
      .card:nth-child(3) {
        grid-row: span 1; } }
  .card__content {
    padding: 4rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("images/bg-dots.svg");
    background-repeat: no-repeat;
    background-position: bottom; }
  .card__icon {
    margin-bottom: 2.4rem; }
  .card__title {
    font-weight: 500;
    margin-bottom: 1.2rem; }
  .card__version {
    font-size: 1.4rem; }
  .card__footer {
    display: flex;
    padding: 2rem; }
    .card__footer > * {
      flex: 1; }

.faq__buttons {
  text-align: center; }

.questions {
  margin-top: 2rem;
  max-width: 55rem;
  margin: 4.8rem auto;
  border-bottom: 2px solid var(--light-grayish-blue); }

.question {
  border-top: 2px solid var(--light-grayish-blue);
  cursor: pointer;
  transition: all 500ms ease; }
  @media only screen and (max-width: 600px) {
    .question:first-child {
      border-top: none; } }
  .question.opened .question__answer {
    display: block; }
  .question.opened .question__icon {
    transform: translateY(-50%) rotate(180deg); }
  .question.opened .arrow {
    fill: var(--soft-red); }
  .question__header {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    position: relative; }
    .question__header:hover .question__title {
      color: var(--soft-red); }
  .question__title {
    flex: 1;
    transition: all 250ms ease;
    margin-right: 6.4rem; }
  .question__answer {
    font-size: 1.5rem;
    color: var(--grayish-blue);
    line-height: 2;
    padding: 1.4rem 0 2.4rem;
    display: none; }
  .question__icon {
    margin-right: 1.6rem;
    transition: transform 450ms cubic-bezier(0.38, 0.78, 0.53, 1.38);
    position: absolute;
    top: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%); }
  .question .arrow {
    width: 32px;
    height: 32px;
    display: block;
    stroke: white;
    fill: var(--soft-blue);
    transition: all 250ms ease; }

.signup {
  background: var(--soft-blue);
  text-align: center;
  color: white;
  padding: 7rem 0;
  margin-bottom: 0; }
  .signup__row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.2rem;
    max-width: 52rem; }
    @media only screen and (max-width: 750px) {
      .signup__row {
        gap: 2.4rem; } }
    @media only screen and (max-width: 600px) {
      .signup__row {
        gap: 1.6rem; } }
  .signup__title {
    font-size: 3.6rem; }
  .signup__subtitle {
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 0.3em;
    font-weight: 500; }

.form {
  display: flex;
  justify-content: center;
  position: relative; }
  @media only screen and (max-width: 600px) {
    .form {
      flex-direction: column; } }
  .form__input-wrapper {
    flex: 1;
    margin-right: 1.6rem;
    position: relative; }
    @media only screen and (max-width: 600px) {
      .form__input-wrapper {
        margin-right: 0;
        margin-bottom: 1.6rem; } }
  .form__state {
    position: absolute;
    top: calc(100% - 10px);
    left: 0;
    right: 0;
    font-size: 1.2rem;
    font-style: italic;
    text-align: left;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1.15rem 1.4rem 0.5rem 1.4rem;
    opacity: 0;
    visibility: hidden;
    transition: all 250ms ease; }
    .form__state.error {
      background: var(--soft-red); }
      .form__state.error + .form__email {
        padding-right: 4.6rem;
        background-image: url(images/icon-error.svg);
        background-repeat: no-repeat;
        background-position: right 1.6rem center;
        border-color: var(--soft-red); }
    .form__state.success {
      background: var(--soft-green); }
      .form__state.success + .form__email {
        border-color: var(--soft-green); }
    .form__state.show {
      opacity: 1;
      visibility: visible; }
  .form__email {
    width: 100%;
    border-radius: 5px;
    font: inherit;
    color: var(--very-dark-blue);
    border: none;
    font-size: 1.4rem;
    padding: 1.2em 1.6em;
    position: relative;
    z-index: 10;
    border: 3px solid transparent;
    transition: border 250ms ease; }
    .form__email:focus {
      outline: none; }
    .form__email::placeholder {
      color: var(--grayish-blue);
      opacity: 0.5; }
  .form__submit {
    padding: 1.2em 1.6em; }

.footer {
  background: var(--very-dark-blue);
  color: white;
  padding: 3.2rem 0; }
  @media only screen and (max-width: 750px) {
    .footer {
      padding: 4.2rem 0 3.8rem; } }
  .footer__row {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 750px) {
      .footer__row {
        flex-direction: column;
        justify-content: center; } }
  .footer__logo {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin-right: 6rem; }
    @media only screen and (max-width: 850px) {
      .footer__logo {
        margin-right: 4.8rem; } }
    @media only screen and (max-width: 750px) {
      .footer__logo {
        margin-right: 0;
        transform: translateX(-4px); } }
  .footer__nav {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 750px) {
      .footer__nav {
        flex-direction: column;
        justify-content: center;
        margin: 3.2rem 0 2.8rem; } }
  .footer__item {
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 0.1em;
    font-weight: 400;
    margin-right: 3.6rem;
    display: inline-block;
    padding: 0.4em; }
    @media only screen and (max-width: 750px) {
      .footer__item {
        margin-right: 0; }
        .footer__item:not(:last-child) {
          margin-bottom: 1em; } }
  .footer__socials {
    margin-left: auto;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 750px) {
      .footer__socials {
        margin-left: unset; } }
  .footer__social {
    fill: white;
    padding: 0.5em; }
    .footer__social:not(:first-child) {
      margin-left: 1rem; }

.attribution {
  font-size: 1.2rem;
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  color: var(--grayish-blue); }
  @media only screen and (max-width: 750px) {
    .attribution {
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .attribution > *:not(:last-child) {
        margin-bottom: 0.7em; } }
  .attribution a {
    color: white; }
