// VARIABLES

$blue: hsl(223, 87%, 63%);
$pale-blue: hsl(223, 100%, 88%);
$light-red: hsl(354, 100%, 66%);
$gray: hsl(0, 0%, 59%);
$very-dark-blue: hsl(209, 33%, 12%);

$font-size: 2rem;

$breakpoint-md: 620px;

// BASE

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;

	scrollbar-width: thin;
	scrollbar-color: $pale-blue white;
}

body {
	font-size: $font-size;
	font-weight: 300;
	font-family: "Libre Franklin", sans-serif;
	line-height: 1.5;
	color: $very-dark-blue;
}

::selection {
	background: $pale-blue;
	color: $very-dark-blue;
}

.wrapper {
	padding: 4em 1.2em 1.2em;
	margin: 0 auto;
	text-align: center;

	display: flex;
	flex-direction: column;
	@media only screen and (min-width: $breakpoint-md) {
		max-width: 1000px;
		margin: 0 auto;
	}
}

.header {
	padding: 0 1.3em;

	&__logo {
		margin-bottom: 3.6rem;
	}

	&__title {
		font-size: 1.4em;
		font-weight: 200;
		line-height: 1.2;
		color: $gray;
		margin-bottom: 0.6em;

		span {
			font-weight: 900;
			color: $very-dark-blue;
			margin-left: 1px;
		}
	}

	&__paragraph {
		font-size: 0.7em;
	}
}

.form {
	margin: 3.6rem auto 6.5rem;
	max-width: 60rem;
	display: flex;
	flex-direction: column;
	position: relative;

	@media only screen and (min-width: $breakpoint-md) {
		flex-direction: row;
	}

	> * {
		font-size: 0.65em;
		font-family: inherit;
		padding: 1em 2.5em;
		border-radius: 100rem;
		border: 1px solid transparent;
	}

	&__email {
		margin-bottom: 0.9rem;
		color: $very-dark-blue;
		border-color: $pale-blue;
		background: white;
		position: relative;

		transition: all 250ms;

		@media only screen and (min-width: $breakpoint-md) {
			flex: 1;
			margin-bottom: 0;
			margin-right: 1.2rem;
		}

		&::placeholder {
			color: $gray;
			font-weight: 300;
		}

		&:hover {
			border-color: $blue;
		}

		&:focus {
			border-color: $blue;

			&::placeholder {
				color: $very-dark-blue;
			}
		}

		&:invalid {
			box-shadow: none;
		}
	}

	&__invalid-msg {
		color: $light-red;
		font-weight: 300;
		position: absolute;
		top: 100%;
		opacity: 0;
		visibility: hidden;
		transition: all 200ms;
	}

	&__button {
		font-weight: 600;
		letter-spacing: 0.4px;
		color: white;
		background-color: $blue;
		box-shadow: 0 0.4rem 2.5rem 0.1rem rgba($color: $blue, $alpha: 0.4);
		padding: 1em 3em;

		cursor: pointer;
		transition: all 250ms;

		&:hover,
		&:focus {
			box-shadow: 0 0.4rem 2.5rem 0.5rem rgba($color: $blue, $alpha: 0.4);
		}
	}

	// on submit click, email input gets a new class
	// with that class we check if the email is invalid
	// if it is, add border and display message
	// if it isnt, it wont do anything
	.check-valid:invalid ~ &__invalid-msg {
		opacity: 1;
		visibility: visible;
	}

	// if its invalid after submit, add red border
	.check-valid:invalid {
		border: 1px solid $light-red;
	}

	// remove red border when the placeholder is shown (email not written)
	// a.k.a add back previous borders
	.check-valid:placeholder-shown {
		border-color: $pale-blue;

		&:focus {
			border-color: $blue;
		}

		// hide invalid text when placeholder is shown
		// it will show as soon as we start writing
		& ~ .form__invalid-msg {
			opacity: 0;
			visibility: hidden;
		}
	}
}

.section-hero {
	margin-bottom: 10em;

	&__img {
		max-width: 100%;
		user-select: none;
	}
}

.footer {
	margin-top: auto;
	color: $gray;

	&__socials {
		display: flex;
		justify-content: center;
	}

	&__social-container {
		width: 1.85em;
		height: 1.85em;
		border-radius: 50%;
		border: 0.1rem solid $pale-blue;

		display: grid;
		place-content: center;
		margin: 0 0.5rem 3rem;

		transition: all 250ms;
		cursor: pointer;

		&:hover {
			border-color: $blue;
		}
	}

	&__social-icon {
		fill: $blue;
	}

	&__copy {
		font-size: 0.65em;
		font-weight: 200;
		margin-bottom: 0.5em;
	}

	&__attribution {
		font-size: 0.6em;
		text-align: center;

		a {
			color: $blue;
			transition: color 150ms;

			&:hover,
			&:focus {
				color: $very-dark-blue;
			}
		}
	}
}
