// VARIABLES

:root {
	// COLORS
	--dark-blue-1: hsl(217, 28%, 15%);
	--dark-blue-2: hsl(218, 28%, 13%);
	--dark-blue-3: hsl(216, 53%, 9%);
	--dark-blue-4: hsl(219, 30%, 18%);

	--cyan: hsl(176, 68%, 64%);
	--blue: hsl(198, 60%, 50%);
	--white: hsl(0, 0%, 100%);
	--white-opaque: hsl(0, 0%, 100%, 0.8);

	// COLOR VARS
	--bg-intro: var(--dark-blue-1);
	--bg-main: var(--dark-blue-2);
	--bg-footer: var(--dark-blue-3);
	--bg-testimonials: var(--dark-blue-4);

	--font-size: 1.4rem;
	--ff-main: 'Open Sans', sans-serif;
	--ff-special: 'Raleway', sans-serif;

	--border-radius: 0.5rem;
	--border-radius-big: 1rem;

	--box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
}

// BASE

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	line-height: 1.5;

	scrollbar-width: thin;

	@media only screen and (max-width: 900px) {
		font-size: 56.25%;
	}
}

body {
	font-size: var(--font-size);
	font-family: var(--ff-main);
	color: var(--white-opaque);
	background: var(--bg-intro);
	overflow-x: hidden;
}

::selection {
	background: var(--cyan);
	color: var(--bg-testimonials);
}

img {
	user-select: none;
	max-width: 100%;
}

.row {
	max-width: 1040px;
	width: 100%;
	margin: 0 auto;
	padding: 0 3.2rem;
}

h1,
h2,
h3,
.nav,
.btn {
	font-family: var(--ff-special);
	color: var(--white);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

// NAV
.nav {
	padding: 2.4rem 0;
	font-weight: 500;

	@media only screen and (max-width: 780px) {
		margin-bottom: 3.6rem;
	}

	&__list {
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	&__logo img {
		max-width: 125px;
		position: relative;
		top: 3px;

		@media only screen and (max-width: 900px) {
			max-width: 110px;
		}

		@media only screen and (max-width: 780px) {
			max-width: 90px;
		}
	}

	&__item {
		&--logo {
			margin-right: auto;
		}
	}

	&__link {
		transition: all 200ms;

		&:link,
		&:visited {
			margin-left: 2em;
		}

		&:hover,
		&:active,
		&:focus {
			color: var(--cyan);
		}

		@media only screen and (max-width: 450px) {
			display: none;
		}
	}
}

section {
	padding: 7.6rem 0;
}

// HEADER

.heading-1 {
	font-size: 3rem;
	line-height: 1.4;
	margin: 2.4rem 0;

	@media only screen and (max-width: 780px) {
		font-size: 2.5rem;
		line-height: 1.2;
	}
}

.intro {
	padding-bottom: 22rem;
	background: url(../images/bg-curvy-desktop.svg) repeat-x;
	background-position: bottom center;
	background-size: contain;

	@media only screen and (max-width: 900px) {
		padding-bottom: 16rem;
	}

	&__flex {
		display: flex;
		flex-direction: column;
		align-items: center;

		text-align: center;
		max-width: 660px;
		margin: 0 auto;
	}

	&__illustration {
		max-width: 60rem;

		@media only screen and (max-width: 780px) {
			max-width: 90%;
		}
	}

	&__desc {
		margin-bottom: 2.4rem;
		max-width: 440px;
	}
}

.btn {
	background: linear-gradient(to bottom right, var(--cyan), var(--blue));
	border: none;

	font-family: inherit;
	font-size: inherit;
	color: inherit;
	vertical-align: top;
	font-weight: 500;

	padding: 0.9em 4.8em;
	border-radius: 100rem;

	cursor: pointer;
	box-shadow: var(--box-shadow);

	transition: transform 100ms;
	transform-origin: bottom;

	&:active {
		transform: translateY(2px);
	}
}

.main {
	background: var(--bg-main);
	position: relative;
}

.features {
	padding-top: 0;

	&__grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-items: center;
		gap: 6.4rem;
		max-width: 750px;
		margin: 0 auto;

		@media only screen and (max-width: 780px) {
			grid-template-columns: 1fr;
		}
	}
}

.feature {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	@media only screen and (max-width: 780px) {
		max-width: 34rem;
	}

	&__icon {
		margin-bottom: 2.4rem;
		max-height: 80px;
	}

	&__title {
		line-height: 1;
		font-size: 1.4em;
	}

	&__desc {
		margin-top: 1em;
	}
}

.heading-2 {
	font-size: 2.4em;
	line-height: 1.2;

	@media only screen and (max-width: 780px) {
		font-size: 1.8em;
	}
}

.about {
	&__flex {
		display: flex;

		> * {
			flex: 0 1 50%;
		}

		@media only screen and (max-width: 780px) {
			flex-direction: column;
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left: 4.8rem;

		@media only screen and (max-width: 780px) {
			margin: 0 auto;
			max-width: 50rem;
		}
	}

	&__title {
		max-width: 30rem;

		@media only screen and (max-width: 780px) {
			max-width: 100%;
		}
	}

	img {
		max-width: 40rem;
		width: 100%;
		margin: 0 auto;

		@media only screen and (max-width: 780px) {
			margin-bottom: 4.8rem;
		}
	}

	&__paragraph {
		margin-bottom: 1em;

		&:first-of-type {
			margin-top: 1em;
		}
		&:last-of-type {
			margin-bottom: 1.6rem;
		}
	}
}

.hyperlink {
	color: var(--cyan);
	width: max-content;
	padding-bottom: 0.2rem;
	text-decoration: none;

	position: relative;

	transition: all 200ms;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		height: 1px;
		width: 100%;
		background: var(--cyan);
		transform: scale(1, 1);
	}

	&:hover {
		color: var(--white);
	}

	img {
		height: 14px;
		width: 14px;
		margin: 0;
		position: relative;
		top: 2px;
	}
}

.testimonials {
	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2.4rem;
		position: relative;
		padding-bottom: 20rem;

		@media only screen and (max-width: 780px) {
			grid-template-columns: 1fr;
			justify-content: center;
			gap: 3.2rem;
			max-width: 36rem;
			margin: 0 auto;

			padding-bottom: 36rem;
		}

		&::before {
			content: url(../images/bg-quotes.png);
			position: absolute;
			top: -3.5rem;
			left: -1rem;
			z-index: 1;

			@media only screen and (max-width: 780px) {
				grid-template-columns: 40rem;
				justify-content: center;
				gap: 3.2rem;
			}
		}
	}
}

.testimonial {
	background: var(--bg-testimonials);
	padding: 2.4rem;
	padding-top: 3.2rem;
	z-index: 20;
	border-radius: var(--border-radius);
	font-size: 0.95em;
	box-shadow: var(--box-shadow);

	&__user {
		display: flex;
		align-items: center;
		margin-top: 2.4rem;
		font-size: 0.9em;

		&--photo {
			max-width: 3.2rem;
			border-radius: 50%;
			margin-right: 1em;
		}

		&--info {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		&--desc {
			font-size: 0.9em;
		}
	}
}

.early-access {
	position: absolute;
	bottom: -18rem;
	left: 50%;
	transform: translateX(-50%);

	&__card {
		max-width: 76rem;
		margin: 0 auto;
		padding: 4rem 6rem;
		background: var(--bg-intro);
		text-align: center;

		border-radius: var(--border-radius-big);
		box-shadow: var(--box-shadow);

		@media only screen and (max-width: 780px) {
			padding: 4.2rem;
			width: 40rem;
		}

		@media only screen and (max-width: 450px) {
			width: 100%;
		}
	}

	&__text {
		max-width: 56rem;
		margin: 0 auto;

		@media only screen and (max-width: 450px) {
		}
	}

	.heading-3 {
		font-size: 2em;
		line-height: 1;

		@media only screen and (max-width: 780px) {
			font-size: 1.6em;
		}
	}

	&__para {
		margin: 2.4rem 0;
	}
}

.email-signup {
	display: flex;

	@media only screen and (max-width: 780px) {
		flex-direction: column;
	}

	@media only screen and (max-width: 450px) {
		width: 90%;
		margin: 0 auto;
	}

	input[type='email'] {
		flex: 1;
		border-radius: 100rem;
		padding: 1em 2em;
		display: flex;
		align-items: center;
		font-family: inherit;
		font-size: inherit;
		font-size: 0.9em;
		margin-right: 2.4rem;
		border: none;

		@media only screen and (max-width: 780px) {
			margin-right: 0;
			margin-bottom: 1.6rem;
		}

		&::placeholder {
			color: gray;
		}
	}

	.btn {
		padding: 0.9em 3em;

		@media only screen and (max-width: 450px) {
		}
	}
}

.footer {
	padding: 16rem 0 6.4rem;
	background: var(--bg-footer);
	font-size: 0.9em;

	&__logo {
		max-width: 14rem;
		display: block;
		margin-bottom: 3.2rem;
	}

	&__content {
		display: flex;

		@media only screen and (max-width: 680px) {
			flex-direction: column;
		}
	}

	&__icon {
		height: 1.4rem;
	}

	&__info {
		display: flex;
		align-items: flex-start;

		margin-right: auto;

		@media only screen and (max-width: 900px) {
			flex-direction: column;
			margin-right: 0;
		}
	}

	&__location {
		display: grid;
		grid-template-columns: max-content 1fr;
		gap: 1.6rem;
		max-width: 30rem;
		margin-right: 6.4rem;

		@media only screen and (max-width: 900px) {
			margin-right: 0;
			margin-bottom: 2.4rem;
		}

		img {
			transform: translateY(0.5rem);
		}
	}

	&__contact {
		font-size: 0.9em;

		> * {
			display: flex;
			align-items: center;
			margin-bottom: 1em;
			margin-top: 0.5em;
		}

		img {
			margin-right: 2em;
		}
	}

	&__nav {
		display: flex;

		@media only screen and (max-width: 900px) {
			margin-left: auto;
		}

		@media only screen and (max-width: 680px) {
			flex-direction: column;
			margin-left: 0;
			margin-bottom: 4.8rem;
		}

		&-list {
			&--1 {
				margin-right: 4.8rem;

				@media only screen and (max-width: 680px) {
					margin-right: 0;
					margin-bottom: 4.8rem;
					margin-top: 4.8rem;
				}
			}
		}

		&--item {
			margin-bottom: 1em;
		}

		&--link {
			border-bottom: 1px solid transparent;
			padding-bottom: 0.1em;
			transition: all 200ms;

			&:hover,
			&:focus {
				color: var(--white);
				border-color: var(--cyan);
			}
		}
	}

	&__social {
		margin-left: auto;

		display: flex;
		align-items: start;
		fill: currentColor;

		@media only screen and (max-width: 900px) {
			margin-left: 3.6rem;
		}

		@media only screen and (max-width: 680px) {
			justify-content: center;
			margin-left: 0;
		}

		&--box {
			border: 1px solid;
			border-radius: 50%;
			width: 3.2rem;
			height: 3.2rem;

			display: grid;
			place-items: center;

			cursor: pointer;

			&:not(:first-of-type) {
				margin-left: 0.6em;
			}

			&:hover .footer__social--icon,
			&:active .footer__social--icon,
			&:focus .footer__social--icon {
				color: var(--cyan);
			}
		}

		&--icon {
			width: 1.8rem;
			transition: all 200ms;
		}
	}

	.attribution {
		margin-top: 4.8rem;
		text-align: center;
		font-size: 1.1rem;

		a {
			color: var(--cyan);
			border-bottom: 1px solid transparent;

			transition: all 200ms;

			&:hover,
			&:focus {
				border-color: var(--cyan);
			}
		}
	}
}
