:root {
  --dark-blue-1: hsl(217, 28%, 15%);
  --dark-blue-2: hsl(218, 28%, 13%);
  --dark-blue-3: hsl(216, 53%, 9%);
  --dark-blue-4: hsl(219, 30%, 18%);
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --white: hsl(0, 0%, 100%);
  --white-opaque: hsl(0, 0%, 100%, 0.8);
  --bg-intro: var(--dark-blue-1);
  --bg-main: var(--dark-blue-2);
  --bg-footer: var(--dark-blue-3);
  --bg-testimonials: var(--dark-blue-4);
  --font-size: 1.4rem;
  --ff-main: 'Open Sans', sans-serif;
  --ff-special: 'Raleway', sans-serif;
  --border-radius: 0.5rem;
  --border-radius-big: 1rem;
  --box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.1); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.5;
  scrollbar-width: thin;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 56.25%; } }

body {
  font-size: var(--font-size);
  font-family: var(--ff-main);
  color: var(--white-opaque);
  background: var(--bg-intro);
  overflow-x: hidden; }

::selection {
  background: var(--cyan);
  color: var(--bg-testimonials); }

img {
  user-select: none;
  max-width: 100%; }

.row {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
  padding: 0 3.2rem; }

h1,
h2,
h3,
.nav,
.btn {
  font-family: var(--ff-special);
  color: var(--white); }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

.nav {
  padding: 2.4rem 0;
  font-weight: 500; }
  @media only screen and (max-width: 780px) {
    .nav {
      margin-bottom: 3.6rem; } }
  .nav__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
  .nav__logo img {
    max-width: 125px;
    position: relative;
    top: 3px; }
    @media only screen and (max-width: 900px) {
      .nav__logo img {
        max-width: 110px; } }
    @media only screen and (max-width: 780px) {
      .nav__logo img {
        max-width: 90px; } }
  .nav__item--logo {
    margin-right: auto; }
  .nav__link {
    transition: all 200ms; }
    .nav__link:link, .nav__link:visited {
      margin-left: 2em; }
    .nav__link:hover, .nav__link:active, .nav__link:focus {
      color: var(--cyan); }
    @media only screen and (max-width: 450px) {
      .nav__link {
        display: none; } }

section {
  padding: 7.6rem 0; }

.heading-1 {
  font-size: 3rem;
  line-height: 1.4;
  margin: 2.4rem 0; }
  @media only screen and (max-width: 780px) {
    .heading-1 {
      font-size: 2.5rem;
      line-height: 1.2; } }

.intro {
  padding-bottom: 22rem;
  background: url(../images/bg-curvy-desktop.svg) repeat-x;
  background-position: bottom center;
  background-size: contain; }
  @media only screen and (max-width: 900px) {
    .intro {
      padding-bottom: 16rem; } }
  .intro__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 660px;
    margin: 0 auto; }
  .intro__illustration {
    max-width: 60rem; }
    @media only screen and (max-width: 780px) {
      .intro__illustration {
        max-width: 90%; } }
  .intro__desc {
    margin-bottom: 2.4rem;
    max-width: 440px; }

.btn {
  background: linear-gradient(to bottom right, var(--cyan), var(--blue));
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  vertical-align: top;
  font-weight: 500;
  padding: 0.9em 4.8em;
  border-radius: 100rem;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  transition: transform 100ms;
  transform-origin: bottom; }
  .btn:active {
    transform: translateY(2px); }

.main {
  background: var(--bg-main);
  position: relative; }

.features {
  padding-top: 3.6rem; }
  .features__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 6.4rem;
    max-width: 750px;
    margin: 0 auto; }
    @media only screen and (max-width: 780px) {
      .features__grid {
        grid-template-columns: 1fr; } }

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  @media only screen and (max-width: 780px) {
    .feature {
      max-width: 34rem; } }
  .feature__icon {
    margin-bottom: 2.4rem;
    max-height: 80px; }
  .feature__title {
    line-height: 1;
    font-size: 1.4em; }
  .feature__desc {
    margin-top: 1em; }

.heading-2 {
  font-size: 2.4em;
  line-height: 1.2; }
  @media only screen and (max-width: 780px) {
    .heading-2 {
      font-size: 1.8em; } }

.about__flex {
  display: flex; }
  .about__flex > * {
    flex: 0 1 50%; }
  @media only screen and (max-width: 780px) {
    .about__flex {
      flex-direction: column; } }

.about__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4.8rem; }
  @media only screen and (max-width: 780px) {
    .about__text {
      margin: 0 auto;
      max-width: 50rem; } }

.about__title {
  max-width: 30rem; }
  @media only screen and (max-width: 780px) {
    .about__title {
      max-width: 100%; } }

.about img {
  max-width: 40rem;
  width: 100%;
  margin: 0 auto; }
  @media only screen and (max-width: 780px) {
    .about img {
      margin-bottom: 4.8rem; } }

.about__paragraph {
  margin-bottom: 1em; }
  .about__paragraph:first-of-type {
    margin-top: 1em; }
  .about__paragraph:last-of-type {
    margin-bottom: 1.6rem; }

.hyperlink {
  color: var(--cyan);
  width: max-content;
  padding-bottom: 0.2rem;
  text-decoration: none;
  position: relative;
  transition: all 200ms; }
  .hyperlink::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: var(--cyan);
    transform: scale(1, 1); }
  .hyperlink:hover {
    color: var(--white); }
  .hyperlink img {
    height: 14px;
    width: 14px;
    margin: 0;
    position: relative;
    top: 2px; }

.testimonials__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
  position: relative;
  padding-bottom: 20rem; }
  @media only screen and (max-width: 780px) {
    .testimonials__grid {
      grid-template-columns: 1fr;
      justify-content: center;
      gap: 3.2rem;
      max-width: 36rem;
      margin: 0 auto;
      padding-bottom: 36rem; } }
  .testimonials__grid::before {
    content: url(../images/bg-quotes.png);
    position: absolute;
    top: -3.5rem;
    left: -1rem;
    z-index: 1; }
    @media only screen and (max-width: 780px) {
      .testimonials__grid::before {
        grid-template-columns: 40rem;
        justify-content: center;
        gap: 3.2rem; } }

.testimonial {
  background: var(--bg-testimonials);
  padding: 2.4rem;
  padding-top: 3.2rem;
  z-index: 20;
  border-radius: var(--border-radius);
  font-size: 0.95em;
  box-shadow: var(--box-shadow); }
  .testimonial__user {
    display: flex;
    align-items: center;
    margin-top: 2.4rem;
    font-size: 0.9em; }
    .testimonial__user--photo {
      max-width: 3.2rem;
      border-radius: 50%;
      margin-right: 1em; }
    .testimonial__user--info {
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .testimonial__user--desc {
      font-size: 0.9em; }

.early-access {
  position: absolute;
  bottom: -18rem;
  left: 50%;
  transform: translateX(-50%); }
  .early-access__card {
    max-width: 76rem;
    margin: 0 auto;
    padding: 4rem 6rem;
    background: var(--bg-intro);
    text-align: center;
    border-radius: var(--border-radius-big);
    box-shadow: var(--box-shadow); }
    @media only screen and (max-width: 780px) {
      .early-access__card {
        padding: 4.2rem;
        width: 40rem; } }
    @media only screen and (max-width: 450px) {
      .early-access__card {
        width: 100%; } }
  .early-access__text {
    max-width: 56rem;
    margin: 0 auto; }
  .early-access .heading-3 {
    font-size: 2em;
    line-height: 1; }
    @media only screen and (max-width: 780px) {
      .early-access .heading-3 {
        font-size: 1.6em; } }
  .early-access__para {
    margin: 2.4rem 0; }

.email-signup {
  display: flex; }
  @media only screen and (max-width: 780px) {
    .email-signup {
      flex-direction: column; } }
  @media only screen and (max-width: 450px) {
    .email-signup {
      width: 90%;
      margin: 0 auto; } }
  .email-signup input[type='email'] {
    flex: 1;
    border-radius: 100rem;
    padding: 1em 2em;
    display: flex;
    align-items: center;
    font-family: inherit;
    font-size: inherit;
    font-size: 0.9em;
    margin-right: 2.4rem;
    border: none; }
    @media only screen and (max-width: 780px) {
      .email-signup input[type='email'] {
        margin-right: 0;
        margin-bottom: 1.6rem; } }
    .email-signup input[type='email']::placeholder {
      color: gray; }
  .email-signup .btn {
    padding: 0.9em 3em; }

.footer {
  padding: 16rem 0 6.4rem;
  background: var(--bg-footer);
  font-size: 0.9em; }
  .footer__logo {
    max-width: 14rem;
    display: block;
    margin-bottom: 3.2rem; }
  .footer__content {
    display: flex; }
    @media only screen and (max-width: 680px) {
      .footer__content {
        flex-direction: column; } }
  .footer__icon {
    height: 1.4rem; }
  .footer__info {
    display: flex;
    align-items: flex-start;
    margin-right: auto; }
    @media only screen and (max-width: 900px) {
      .footer__info {
        flex-direction: column;
        margin-right: 0; } }
  .footer__location {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1.6rem;
    max-width: 30rem;
    margin-right: 6.4rem; }
    @media only screen and (max-width: 900px) {
      .footer__location {
        margin-right: 0;
        margin-bottom: 2.4rem; } }
    .footer__location img {
      transform: translateY(0.5rem); }
  .footer__contact {
    font-size: 0.9em; }
    .footer__contact > * {
      display: flex;
      align-items: center;
      margin-bottom: 1em;
      margin-top: 0.5em; }
    .footer__contact img {
      margin-right: 2em; }
  .footer__nav {
    display: flex; }
    @media only screen and (max-width: 900px) {
      .footer__nav {
        margin-left: auto; } }
    @media only screen and (max-width: 680px) {
      .footer__nav {
        flex-direction: column;
        margin-left: 0;
        margin-bottom: 4.8rem; } }
    .footer__nav-list--1 {
      margin-right: 4.8rem; }
      @media only screen and (max-width: 680px) {
        .footer__nav-list--1 {
          margin-right: 0;
          margin-bottom: 4.8rem;
          margin-top: 4.8rem; } }
    .footer__nav--item {
      margin-bottom: 1em; }
    .footer__nav--link {
      border-bottom: 1px solid transparent;
      padding-bottom: 0.1em;
      transition: all 200ms; }
      .footer__nav--link:hover, .footer__nav--link:focus {
        color: var(--white);
        border-color: var(--cyan); }
  .footer__social {
    margin-left: auto;
    display: flex;
    align-items: start;
    fill: currentColor; }
    @media only screen and (max-width: 900px) {
      .footer__social {
        margin-left: 3.6rem; } }
    @media only screen and (max-width: 680px) {
      .footer__social {
        justify-content: center;
        margin-left: 0; } }
    .footer__social--box {
      border: 1px solid;
      border-radius: 50%;
      width: 3.2rem;
      height: 3.2rem;
      display: grid;
      place-items: center;
      cursor: pointer; }
      .footer__social--box:not(:first-of-type) {
        margin-left: 0.6em; }
      .footer__social--box:hover .footer__social--icon,
      .footer__social--box:active .footer__social--icon,
      .footer__social--box:focus .footer__social--icon {
        color: var(--cyan); }
    .footer__social--icon {
      width: 1.8rem;
      transition: all 200ms; }
  .footer .attribution {
    margin-top: 4.8rem;
    text-align: center;
    font-size: 1.1rem; }
    .footer .attribution a {
      color: var(--cyan);
      border-bottom: 1px solid transparent;
      transition: all 200ms; }
      .footer .attribution a:hover, .footer .attribution a:focus {
        border-color: var(--cyan); }
