@import "abstracts";

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;

	@media only screen and (max-width: 1000px) {
		font-size: 50%;
	}
}

body {
	font-size: $font-size;
	font-family: $font-family;
	line-height: 1.6;
	background: url(../images/bg-pattern-desktop.svg);
	background-size: cover;
	color: $desaturated-red;
}

::selection {
	background-color: $desaturated-red;
	color: rgb(245, 245, 245);
}

img {
	user-select: none;
}

.heading-primary {
	font-size: 4em;
	text-transform: uppercase;
	line-height: 1;
	letter-spacing: 1.6rem;
	font-weight: 300;

	&--coming-soon {
		color: $dark-grayish-red;
		font-weight: 600;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	min-height: 100vh;
}

.header {
	display: flex;
	justify-content: center;

	width: 100%;
	height: 100vh;

	@media only screen and (max-width: 700px) {
		flex-direction: column;
	}

	@media only screen and (min-width: 1800px),
		only screen and (min-height: 800px) and (min-width: 1800px) {
		border: none;
		max-width: 1500px;
		height: 800px;
		border: 0.5rem solid black;
	}

	&__picture {
		max-width: 610px;
		width: 100%;
		background: url(../images/hero-desktop.jpg);
		background-size: cover;
		margin-left: auto;

		@media only screen and (max-width: 700px) {
			background: url(../images/hero-mobile.jpg);
			background-size: cover;
			width: 100%;
			height: 300px;
			margin-bottom: auto;
			order: -1;
			margin: 0;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		padding: 4rem 0 5rem;
		margin-left: 15%;

		@media only screen and (max-width: 700px) {
			width: 100%;
			height: 375px;
			margin: 0;
			padding: 3em;
			flex: 1;
		}
	}

	&__logo-box {
		margin-bottom: 3em;

		@media only screen and (max-width: 700px) {
			order: -1;
			display: none;
		}
	}

	&__text {
		flex: 1;
		width: 70%;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@media only screen and (max-width: 700px) {
			width: 100%;
			text-align: center;
		}
	}

	&__paragraph {
		margin: 2rem 0 3.5rem;

		@media only screen and (max-width: 700px) {
			padding: 0 2em;
		}
	}
}

.form {
	display: flex;
	flex-direction: row;
	position: relative;
	width: 96%;

	&__item {
		display: flex; // fill the height
	}

	&__item:first-child {
		flex: 1;
	}

	&__input {
		font-weight: 400;
		font-family: inherit;
		letter-spacing: 0.03rem;
		color: $desaturated-red;
		background-color: transparent;
		border: 0.2rem solid $desaturated-red-opaque;

		flex: 1;
		display: flex;
		align-items: center;

		padding: 1em 1.4em;
		padding-right: 3.8em;
		border-radius: 100rem;

		&:focus {
			outline: none;
			border-color: $desaturated-red;
		}

		&::placeholder {
			color: $desaturated-red;
		}

		&:invalid {
			box-shadow: none;
		}
	}

	// on btn click, input gets a new class added, so now we check if the element with that new class is valid
	.check-valid {
		&:invalid {
			background: transparent url(../images/icon-error.svg) no-repeat;
			background-position: right 7rem center;
		}

		&:placeholder-shown {
			background: none;
		}
	}

	&__submit {
		text-align: center;
		@include bgGradient-red;
		border: none;

		padding: 1em 2.8em;
		margin-left: -4em;
		cursor: pointer;

		border-radius: 100rem;

		box-shadow: 0 1rem 2rem 0 rgba($color: $soft-red, $alpha: 0.2);

		&:hover,
		&:focus {
			@include bgGradient-red-2;
		}

		&:focus {
			outline: none;
			border-color: $dark-grayish-red;
		}
	}
}

.attribution {
	font-size: 11px;
	text-align: center;
	margin-top: 20%;

	a {
		color: hsl(228, 45%, 44%);
	}
}
