* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

::selection {
	background: var(--black);
	color: var(--white);
}

.hero-1 {
	transition: background 500ms ease;
	background: url('../images/desktop-image-hero-1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.hero-2 {
	transition: background 500ms ease;
	background: url('../images/desktop-image-hero-2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.hero-3 {
	transition: background 500ms ease;
	background: url('../images/desktop-image-hero-3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

body {
	font-family: 'Spartan', sans-serif;
	font-size: 1.2rem;
	background: var(--white);

	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	overflow: hidden;
	transition: background 500ms ease;

	--dark-gray: hsl(0, 0%, 63%);
	--black: #000000;
	--white: #ffffff;
	--very-dark-gray: hsl(0, 0%, 27%);
	background: var(--black);

	backdrop-filter: blur(50px);
}

img {
	user-select: none;
	display: block;
	max-width: 100%;
	transition: all 550ms ease;
	transform: scale(1.02);

	&:hover {
		transform: scale(1.1);
		filter: saturate(175%);
	}
}

.title {
	font-weight: 600;
	line-height: 1.1;
	color: var(--black);
	margin-bottom: 1em;

	&--primary {
		font-size: 4rem;
	}

	&--secondary {
		font-weight: 700;
		font-size: 1.6rem;
		text-transform: uppercase;
		letter-spacing: 0.4em;
	}
}

.text {
	line-height: 1.6;
	color: var(--dark-gray);
	max-width: 40em;
}

.app {
	display: flex;
	flex-direction: column;
	overflow: hidden;

	max-height: 800px;
	max-width: 1440px;
	margin: auto;
	background: var(--white);

	position: relative;
	box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.1);
}

button {
	cursor: pointer;
	font: inherit;
}

.btn {
	border: none;
	background: none;
	text-transform: uppercase;
	letter-spacing: 0.6rem;
	transition: all 300ms ease;
	padding: 0.6em 0;

	.arrow {
		transition: all 250ms ease;
	}

	&:hover {
		color: var(--dark-gray);

		.arrow {
			fill: var(--dark-gray);
		}
	}

	&:focus {
		outline: none;
	}
}

.controls {
	display: flex;
	position: absolute;
	bottom: 0;
	left: 0;
}

.control {
	border: none;
	background: var(--black);
	width: 8rem;
	height: 8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 250ms ease;

	&:hover {
		background: var(--very-dark-gray);
	}

	&:focus {
		outline: none;
	}
}

.content-tile {
	display: grid;
	align-content: center;
	justify-items: start;
}

.nav {
	position: absolute;
	top: 5rem;
	left: 5rem;
	display: flex;
	align-items: center;
	z-index: 100;

	&__logo {
		margin-right: 4.8rem;
	}

	&__list {
		list-style-type: none;
		display: flex;
		align-items: center;
	}

	&__item {
		margin-right: 1.2rem;
	}

	&__link {
		text-decoration: none;
		color: var(--white);
		text-transform: lowercase;
		display: inline-block;
		padding: 0.4em 0.8em;

		position: relative;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 30%;
			transform: translateX(-50%) scaleX(0);
			transform-origin: right;
			height: 2px;
			background: var(--white);
			transition: transform 250ms;
		}

		&:hover::after {
			transform: translateX(-50%) scaleX(1);
			transform-origin: left;
		}
	}
}

.hero {
	position: relative;
	&__photo {
		overflow: hidden;
	}
	.title,
	.text,
	.btn {
		opacity: 0;
		transition: all 1s ease 1s;
	}
	&__content {
		position: relative;
		padding: 7rem;
		padding-bottom: 10rem;
	}

	&__panel {
		transition: all 2500ms;
		opacity: 0;
		display: none;

		&.show {
			opacity: 1;
			display: grid;
			grid-template-columns: auto 1fr;

			.title,
			.text,
			.btn {
				opacity: 1;
				transition: all 1s ease 1s;
			}
		}
	}

	&__btn {
		margin-top: 3em;
	}
}

.about {
	display: grid;
	grid-template-columns: auto 1fr auto;

	&__content {
		padding: 5.2rem;
	}

	&__photo {
		overflow: hidden;
	}
}
