* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

:root {
	--black: #000000;
	--white: #ffffff;

	--dark-gray: hsl(0, 0%, 63%);
	--very-dark-gray: hsl(0, 0%, 27%);

	--white-2: hsl(0, 0%, 95%);
	--dark-gray-2: hsl(0, 0%, 85%);

	--text: var(--black);
	--text-2: var(--dark-gray);
	--bg: var(--white);
}

.dark {
	--text: var(--white);
	--bg: var(--black);
	--text-2: var(--dark-gray-2);
	--very-dark-gray: hsl(0, 0%, 77%);
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

::selection {
	background: var(--text);
	color: var(--bg);
}

.hero-1 {
	transition: background 500ms ease;
	background-image: url('../images/desktop-image-hero-1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.hero-2 {
	transition: background 500ms ease;
	background-image: url('../images/desktop-image-hero-2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.hero-3 {
	transition: background 500ms ease;
	background-image: url('../images/desktop-image-hero-3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

body {
	font-family: 'Spartan', sans-serif;
	font-size: 1.2rem;
	background: var(--bg);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	min-height: 100vh;
	overflow-x: hidden;

	transition: background 500ms ease;
	backdrop-filter: blur(50px) brightness(95%);

	&.dark {
		backdrop-filter: blur(50px) brightness(50%);

		img {
			filter: brightness(90%);
		}

		.text {
			font-weight: 400;
		}

		.title {
			font-weight: 400;
		}
	}

	@media only screen and(max-width:1400px) {
		// display: block;
		justify-content: flex-start;
	}
}

.app {
	display: flex;
	flex-direction: column;
	overflow: hidden;

	max-height: 800px;
	max-width: 1440px;
	width: 100%;
	height: 100%;
	background: var(--bg);

	position: relative;
	// box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.1);

	@media only screen and(max-width:1440px) {
		max-height: none;
		height: max-content;
	}

	@media only screen and(max-width:1200px) {
	}
}

img {
	user-select: none;
	display: block;
	max-width: 100%;
	transition: all 550ms ease;
	transform: scale(1.02);

	&:hover {
		transform: scale(1.1);
		filter: saturate(175%);
	}
}

.title {
	font-weight: 600;
	line-height: 1.1;
	color: var(--text);

	&--primary {
		font-size: 4rem;

		@media only screen and(max-width:1440px) {
			font-size: 3.6rem;
		}

		@media only screen and(max-width:1200px) {
			font-size: 3.2rem;
		}
	}

	&--secondary {
		font-weight: 700;
		font-size: 1.6rem;
		text-transform: uppercase;
		letter-spacing: 0.4em;
	}
}

.text {
	line-height: 1.6;
	color: var(--text-2);
	max-width: 40em;
}

button {
	cursor: pointer;
	font: inherit;
}

.btn {
	border: none;
	background: none;
	text-transform: uppercase;
	letter-spacing: 0.6rem;
	transition: all 300ms ease;
	padding: 0.6em 0;
	color: var(--text);
	font-weight: 600;

	.arrow {
		transition: all 250ms ease;
		fill: var(--text);
	}

	&:hover {
		color: var(--text-2);

		.arrow {
			fill: var(--text-2);
		}
	}
}

.nav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 5rem;
	display: flex;
	align-items: center;
	z-index: 100;

	@media only screen and(max-width: 1200px) {
		margin: 4rem;
		margin-top: 3.5rem;
	}

	@media only screen and(max-width:1000px) {
		margin: 3rem;
	}

	@media only screen and(max-width:650px) {
		margin: 3rem;
		justify-content: space-between;
		gap: 1.6rem;

		> * {
			flex: 1;
		}
	}

	&__menu-icon {
		display: none;

		@media only screen and(max-width:650px) {
			display: block;
			fill: white;
			color: white;
		}

		.icon {
			display: block;
		}
	}

	&__logo {
		margin-right: 4.8rem;

		@media only screen and(max-width:1000px) {
			margin-right: 3rem;
		}

		@media only screen and(max-width:650px) {
			margin-right: 0;
			text-align: center;
			order: 1;

			display: flex;
			justify-content: center;
		}
	}

	&__list {
		list-style-type: none;
		display: flex;
		align-items: center;
		gap: 1.2rem;

		@media only screen and(max-width:650px) {
			display: none;
		}
	}

	&__item {
	}

	&__link {
		text-decoration: none;
		color: var(--white);

		text-transform: lowercase;
		display: inline-block;
		padding: 0.4em 0.8em;

		position: relative;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 30%;
			transform: translateX(-50%) scaleX(0);
			transform-origin: right;
			height: 2px;
			background: var(--white);
			transition: transform 250ms;
		}

		&:hover::after {
			transform: translateX(-50%) scaleX(1);
			transform-origin: left;
		}
	}
}

#theme-toggle {
	border: none;
	background: none;
	fill: white;
	display: flex;
	align-items: center;
	position: relative;
	top: -1px;
	margin-left: 1.6rem;

	@media only screen and(max-width:1200px) {
		margin-left: auto;
		fill: var(--text);
	}

	@media only screen and(max-width:840px) {
		fill: white;
	}

	@media only screen and(max-width:650px) {
		order: 2;
		display: flex;
		justify-content: flex-end;
		margin-left: 0;
	}

	.icon {
		display: block;

		&.hide {
			display: none;
		}
	}
}

.controls {
	display: flex;
	position: absolute;
	bottom: 0;
	left: 0;

	@media only screen and(max-width:1200px) {
		left: -16rem;
	}

	@media only screen and(max-width:840px) {
		top: -8rem;
		right: 0;
		left: unset;
	}
}

.control {
	border: none;
	background: var(--text);
	width: 8rem;
	height: 8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 250ms ease;

	@media only screen and(max-width:1440px) {
		// width: 6rem;
		// height: 6rem;
	}

	&:hover {
		background: var(--very-dark-gray);
	}

	&:focus {
		outline: none;
	}

	.chevron {
		stroke: var(--bg);
	}
}

.content-tile {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.hero {
	position: relative;
	// max-height: 534px;

	@media only screen and(max-width:840px) {
		max-height: none;
	}

	&__panel {
		@media only screen and(max-width:840px) {
			display: flex;
			flex-direction: column;
		}
	}

	&__photo {
		overflow: hidden;
		width: 70%;
		max-width: 840px;

		@media only screen and(max-width:1200px) {
			flex-basis: 50%;
		}

		@media only screen and(max-width:840px) {
			width: 100%;
		}

		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
	}

	&__content {
		position: relative;
		padding: 7rem;
		padding-bottom: 10rem;
		flex: 1;
		gap: 3rem;
		min-width: 420px;

		@media only screen and(max-width:1440px) {
			padding: 6rem;
			padding-bottom: 9rem;
		}

		@media only screen and(max-width:1200px) {
			padding: 4.5rem;
			flex-basis: 50%;
		}

		@media only screen and(max-width:1200px) {
			padding: 8rem 4rem;
		}
	}

	&__panel {
		transition: all 250ms;
		opacity: 0;
		display: none;

		&.show {
			opacity: 1;
			// display: grid;
			// grid-template-columns: auto 1fr;
			display: flex;
		}
	}

	&__btn {
	}
}

.about {
	display: grid;
	grid-template-columns: auto 1fr auto;
	display: flex;

	@media only screen and(max-width:1200px) {
		flex-wrap: wrap;
	}

	&__content {
		gap: 1.6rem;
		padding: 5.2rem;

		@media only screen and(max-width:1440px) {
			padding: 4.5rem;
		}

		@media only screen and(max-width:1200px) {
			padding: 8rem 4rem;
			order: 2;
			flex: 1 1 100%;
			align-items: center;

			.title {
				text-align: left;
			}
		}
	}

	&__photo {
		overflow: hidden;
		max-height: 266px;

		@media only screen and(max-width:1200px) {
			flex-basis: 50%;
		}

		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
	}
}

.footer {
	background: black;
	backdrop-filter: blur(5px);
	color: white;
	padding: 2.4rem;
	max-width: 1440px;
	width: 100%;
	display: flex;
	flex-direction: column;

	font-size: 1.1rem;

	.attribution {
		flex: 1;
		display: flex;
		justify-content: space-between;
		align-items: center;

		text-transform: uppercase;
		color: white;
		font-weight: 500;
		letter-spacing: 0.1rem;

		@media only screen and(max-width:650px) {
			flex-direction: column;
			gap: 1em;
		}

		> div {
			display: flex;
			align-items: center;
			gap: 0.6rem;
		}
	}

	a {
		text-decoration: none;
		color: inherit;
		color: white;

		transition: all 250ms;
		font-weight: 600;

		&#mentor {
			background: linear-gradient(90deg, #f1cb68, #f39006);
			color: transparent;
			-webkit-background-clip: text;

			&:hover {
				color: white;
			}
		}

		&#me {
			background: linear-gradient(-90deg, #f1cb68, #f39006);
			color: transparent;
			-webkit-background-clip: text;

			&:hover {
				color: white;
			}

			@media only screen and(max-width:650px) {
				background: linear-gradient(90deg, #f1cb68, #f39006);
				color: transparent;
				-webkit-background-clip: text;
			}
		}
	}

	@media only screen and(max-width:1200px) {
		flex: 1;
	}
}

:focus {
	outline: none;
}

.hide {
	display: none;
}
