$dark-violet: #2d2640;
$grayish-blue: #95a9c6;

$very-dark-violet: #2b272f;
$dark-grayish-violet: #837d87;
$light-gray: #fafafa;

$font-heading: "DM Serif Display", serif;
$font-body: "Karla", sans-serif;

$bp-xl: 1150px;
$bp-lg: 920px;
$bp-md: 700px;
$bp-sm: 600px;
$bp-xs: 400px;

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; //10px
	scrollbar-width: thin;

	@media only screen and (max-width: $bp-xl) {
		font-size: 56.25%; // 9px
	}
	@media only screen and (max-width: $bp-md) {
		font-size: 50%; // 9px
	}
}

body {
	font-size: 1.6rem;
	font-family: $font-body;
	line-height: 1.5;
	color: $very-dark-violet;
}

h1,
h2,
h3,
h4 {
	font-family: $font-heading;
	line-height: 1;
}

a {
	font-family: inherit;
	text-decoration: none;
	color: inherit;
}

ul {
	list-style-type: none;
}

img {
	user-select: none;
}

.row {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 3em;

	@media only screen and (max-width: $bp-lg) {
		padding: 0 2em;
	}
}

::selection {
}

:focus {
	outline: none;
}

.btn {
	font-family: inherit;
	font-size: inherit;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	padding: 0.8em 1.6em;
	background: transparent;
	color: white;
	border: 2px solid currentColor;
	font-size: 1.3rem;
	display: block;
	transition: all 200ms;

	&:hover,
	&:active,
	&:focus {
		background: white;
		color: $very-dark-violet;
		border-color: white;
	}
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 1.6em;
	padding-bottom: 1.6em;
	font-size: 1.3rem;
	font-weight: 700;
	letter-spacing: 1px;

	&__list {
		display: flex;
		align-items: center;

		@media only screen and (max-width: $bp-sm) {
			display: none;
		}
	}

	&__logo-box {
		display: flex;
		align-items: center;
	}

	&__item {
		margin: 0 0.5em;

		&:last-child {
			margin-left: 1.2em;
		}
	}

	&__link {
		&:link,
		&:visited {
			text-transform: uppercase;
			display: block;
			padding: 0.4em;
			color: $dark-grayish-violet;
			transition: color 200ms;
		}
		&:hover,
		&:active,
		&:focus {
			color: $very-dark-violet;
		}
	}

	&__btn {
		color: $very-dark-violet;

		&:hover,
		&:active,
		&:focus {
			background: $very-dark-violet;
			color: white;
			border-color: $very-dark-violet;
		}
	}

	&__mobile-icon-box {
		display: none;

		border: 2px solid $very-dark-violet;
		padding: 0.2em;
		cursor: pointer;

		@media only screen and (max-width: $bp-sm) {
			display: flex;
		}
	}

	&__mobile-icon {
		transition: all 500ms;
		&--menu {
			display: block;
		}

		&--close {
			display: none;
		}
	}

	/* MOBILE NAVIGAITON */
	&--mobile {
		display: none;
		background: $very-dark-violet url(../images/bg-pattern-mobile-nav.svg)
			no-repeat bottom right / contain;
		padding: 1em 1em 20em;
		font-size: 1.8rem;
	}

	&__mobile-menu {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__item--mobile {
		width: 100%;
		text-align: center;
	}

	&__link--mobile {
		&:link,
		&:visited {
			color: white;
			padding: 1em;
		}
	}

	&__btn--mobile {
		font-size: inherit;
		color: white;
		width: 100%;
		margin-top: 1em;

		&:hover,
		&:active,
		&:focus {
			background: white;
			color: $very-dark-violet;
			border-color: white;
		}
	}
}

.heading-1 {
	font-size: 4.5em;

	@media only screen and (max-width: $bp-xl) {
		font-size: 4.2em;
	}

	@media only screen and (max-width: $bp-lg) {
		font-size: 4em;
	}
	@media only screen and (max-width: $bp-sm) {
		font-size: 3.5em;
	}
	@media only screen and (max-width: $bp-xs) {
		font-size: 3em;
	}
}

.heading-2 {
	font-size: 3.8em;
	margin-bottom: 1.2em;

	@media only screen and (max-width: $bp-xs) {
		font-size: 2.8em;
	}
}

.header {
	background: $dark-violet;
	color: white;
	padding-top: 8em;
	padding-bottom: 8em;
	position: relative;

	@media only screen and (max-width: $bp-lg) {
		padding-top: 4rem;
		padding-bottom: 0;
	}
	@media only screen and (max-width: $bp-md) {
		padding-top: 0;
	}

	@media only screen and (max-width: $bp-sm) {
		text-align: center;
	}

	&::before {
		content: "";
		background: url(../images/bg-pattern-intro-right-desktop.svg) no-repeat
			top right;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 5;

		@media only screen and (max-width: $bp-md) {
			background: url(../images/bg-pattern-intro-right-mobile.svg)
				no-repeat bottom right;
			height: 120%;
		}
	}

	&::after {
		content: "";
		background: url(../images/bg-pattern-intro-left-desktop.svg) no-repeat
			bottom left;
		width: 100%;
		height: 150%;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 5;

		@media only screen and (max-width: $bp-md) {
			background: none;
		}
	}

	&__content {
		display: flex;
		position: relative;

		@media only screen and (max-width: $bp-lg) {
			flex-direction: column;

			&.row {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	.heading-1 {
		&::before {
			content: "";
			background: $dark-grayish-violet;
			height: 1px;
			width: 2.2em;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
		}
		&::before {
			@media only screen and (max-width: $bp-lg) {
				height: 0;
			}
		}
	}

	&__title {
		flex: 0 1 calc(100% - 520px - 10vw);
		position: relative;
		z-index: 10;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		padding-top: 7rem;

		@media only screen and (max-width: $bp-lg) {
			text-align: center;
			flex: 1;
			padding: 8rem 2em;
			align-items: center;
		}

		@media only screen and (max-width: $bp-md) {
			&::before {
				content: "";
				background: url(../images/bg-pattern-intro-left-mobile.svg)
					no-repeat top left;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				right: 0;
				z-index: 5;
			}
		}
	}

	&__paragraph {
		margin: 1.6em 0;
	}

	&__img-box {
		max-width: 540px;
		width: 50%;
		position: absolute;
		margin-left: auto;
		top: 0;
		right: 0;

		@media only screen and (max-width: $bp-lg) {
			position: relative;
			order: -1;
			width: 100%;
			margin: 0 auto;
			height: 100%;
		}
	}

	&__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.main {
	margin-top: 7em;
	padding-top: 8em;
	padding-bottom: 8em;

	@media only screen and (max-width: $bp-md) {
		margin: 0;
	}
}

.features {
	position: relative;
	padding-top: 3.5em;

	@media only screen and (max-width: $bp-md) {
		text-align: center;
	}

	.heading-2 {
		&::before {
			content: "";
			background: $dark-grayish-violet;
			height: 1px;
			width: 2.2em;
			display: block;
			position: absolute;
			top: 0;
			left: 0;

			@media only screen and (max-width: $bp-md) {
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 3rem;

		@media only screen and (max-width: $bp-md) {
			grid-template-columns: 1fr;
			gap: 5rem;
		}
	}

	&__card {
		margin-top: 14rem;
		padding: 4em;
		background: $dark-violet
			url(../images/bg-pattern-how-we-work-desktop.svg) no-repeat top
			right / contain;
		position: relative;

		display: flex;
		align-items: center;

		@media only screen and (max-width: $bp-md) {
			flex-direction: column;
			padding: 4em 2em;
			background: $dark-violet
				url(../images/bg-pattern-how-we-work-mobile.svg) no-repeat top
				right;
		}

		.heading-2 {
			font-size: 3.4em;
			margin: 0;
			flex: 1;
			color: white;
			margin-right: 1em;

			@media only screen and (max-width: $bp-md) {
				text-align: center;
				margin-right: 0;
			}
		}
		.btn {
			margin-left: auto;

			@media only screen and (max-width: $bp-md) {
				margin-left: 0;
				margin-top: 3em;
			}
		}
	}
}

.feature {
	display: flex;
	flex-direction: column;

	@media only screen and (max-width: $bp-md) {
		margin: 0 auto;
		align-items: center;
		max-width: 35rem;
	}

	&__icon-circle {
		width: 4.2em;
		height: 4.2em;
		border-radius: 50%;
		background: $grayish-blue;

		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__icon {
		color: white;
		font-size: 2em;
	}

	.heading-3 {
		font-size: 1.7em;
		margin-top: 1.2em;
		margin-bottom: 0.8em;
	}

	&__paragraph {
		font-size: 0.9em;
		color: $grayish-blue;
	}
}

.footer {
	background: $light-gray url(../images/bg-pattern-footer-desktop.svg)
		no-repeat top left;
	padding-top: 5em;
	padding-bottom: 5em;

	@media only screen and (max-width: $bp-md) {
		flex-direction: column;
		background: $light-gray url(../images/bg-pattern-footer-mobile.svg)
			no-repeat top left;
	}

	&__head {
		display: flex;
		align-items: center;
		border-bottom: 1px solid $grayish-blue;
		padding-bottom: 2em;
		justify-content: space-between;

		@media only screen and (max-width: $bp-md) {
			flex-direction: column;
		}
	}

	&__socials {
		display: flex;

		@media only screen and (max-width: $bp-md) {
			padding-top: 1.6em;
		}
	}

	&__icon {
		margin-left: 0.5em;
		fill: $dark-grayish-violet;
		cursor: pointer;
	}

	&__nav {
		text-transform: uppercase;
		font-size: 0.9em;
		line-height: 2.2;
		padding: 3.5em 0;
		letter-spacing: 1px;
		font-weight: bold;

		display: flex;
		justify-content: space-between;

		@media only screen and (max-width: $bp-md) {
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}

	&__list {
		&:not(:last-child) {
			@media only screen and (max-width: $bp-md) {
				margin-bottom: 3em;
			}
		}
	}

	&__link {
		&:hover,
		&:active,
		&:focus {
			text-decoration: underline;
		}
	}

	&__nav-title {
		color: $dark-grayish-violet;
		margin-bottom: 1.6em;
	}

	.attribution {
		text-align: center;
		margin-top: 1.2em;
		font-size: 0.85em;
		color: $dark-grayish-violet;

		a:link,
		a:visited {
			color: $dark-violet;
			transition: all 600ms ease-out;
		}
		a:hover,
		a:active,
		a:focus {
			color: $dark-violet;
			text-shadow: -0.5rem -0.5rem 1em #e608e6, 0.5rem 0.5rem 1em #e608e6;
		}
	}
}
